.letsGO{
    margin-left:46%;
    background-color: Rgb(255,255,255);
    margin-right: 3%;
    border-radius: 2px;
    font-size: 95%;
    font-weight: 600;
   
    width: 8%
}
.letsGO:hover{
    background-color: Rgb(255,255,255);
}
.letsGO:active{
    background-color: Rgb(255,255,255);
}
.backgroundColor{
    margin-top: -1%;
    background-color: black;
    border-radius: 0px;
}
.title{
    font-size: 150%;
    font-weight: 600;
    margin-top: 2.5%;
    margin-left:46%;
    color:Rgb(255,255,255);
}
.otherText{
    margin-bottom: 2%;
    margin-top: -.4%;
    margin-left:46%;
    color: rgb(148,148,148);
}
.picture{
    width: 140%;
    margin-left:53%;
}