<div class="card mb-3 nav-item backgroundColor " style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/assets/YTMusic pic.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <p class="card-title nav-item title">Tell us which artists you like</p>
          <p class="card-text nav-item otherText">We'll create an experience just for you</p>
          <button type="button" class="btn nav-item letsGO">LET'S GO</button>
        </div>
      </div>
    </div>
  </div>
  
  
