<p *ngIf = "myInfo == undefined">failed fetching user info</p>
<div *ngIf = "myInfo != undefined">
    <div class = " container-fluid">
        <div class = "d-flex flex-row justify-content-between" style = "margin-left: 15%;"> 
            <div class = "flex-column">
                Author: {{myInfo.FirstName}} {{myInfo.LastName}} 
            </div>
            <div class = "flex-column">
                <a href = "malito: {{myInfo.mix_id}}@mix.wvu.edu"> Mix ID: {{myInfo.mix_id}}</a>
            </div>
            <div class = "flex-column">
               <a href = {{myInfo.GitHub}} > GitHub: {{myInfo.GitHub}}</a>
            </div>

        </div>
    </div>
</div>