<div class="card mb-3 nav-item backgroundColor card" style="max-width: 540px; font-family: Roboto,Noto Naskh Arabic UI,Arial,sans-serif;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{cover_art}}" class="img-fluid  nav-item thumbnail" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <p class="song-title nav-item title">{{title}}</p>
          <p class="card-text nav-item artist">{{artist_album}}</p>
          
        </div>
      </div>
    </div>
  </div>
