<div style= "height: 50px;">
    <app-top-nav-bar> </app-top-nav-bar>
</div>

<div>
<ul class= "navbar">
    <nav class ="nav-item">
        <app-side-nav-bar> </app-side-nav-bar>

    </nav>
</ul>
</div>

<div  class = "nav-item backgroundColor">
<div class = "d-flex  flex-row nav-item catCardFormat">
    <div *ngFor = "let x of categories" >
        <app-category-card 
            icon = {{x.icon}} 
            title = {{x.title}} 
            >
        </app-category-card>
    </div>
</div>
<div class = "d-flex flex-row nav-item catCardFormat2">
    <div *ngFor = "let y of categories2" >
        <app-category-card 
            icon = {{y.icon}} 
            title = {{y.title}} 
            >
        </app-category-card>
    </div>
</div>
</div>

<div class = "nav-item backgroundColor nav-item trendingCardFormat" >
    <p class = "section-title nav-item sectionHeading">Trending videos</p>

    <app-trending-card thumbnail = "/assets/thn1.webp" 
    time = "1:16" 
    title = "Official Launch Trailer | Call of Duty: Modern Warfare II" 
    cvd = "Call of Duty · 7.2M views · 2 days ago" 
    description = "You are the company you keep 💪
 
    Team up with TF141 a week early with Campaign Early Access. Available with #MWII digital pre-order here: https://bit.ly/MWIIPREORDER
    
    Follow #CallofDuty for the latest intel:
    Twitter: http://twitter.com/CallofDuty
    Instagram: http://instagram.com/callofduty
    Facebook: http://facebook.com/CallofDuty
    TikTok: http://www.tiktok.com/@callofduty
    
    #ModernWarfare2"></app-trending-card>
    
    <app-trending-card thumbnail = "/assets/thn2.webp"
    time = "43:43" 
    title = " ''If my mama played for the Clippers..'' | The Shop: Season 5 Episode 7 | FULL EPISODE | Uninterrupted"
    cvd = "UNINTERRUPTED · 209K views · 23 hours ago" 
    description = "It's a hoop lovers dream on this episode of The Shop, 
    filmed in front of a live audience at the LeBron James Innovation Center on the campus of Nike’s World Headquarters in Beaverton, 
    Oregon. 
    Sit back and join 3x WNBA MVP Lisa Leslie, 4x NBA Champion Draymond Green,
    NBA Sneaker King & NBA Champion P.J. Tucker, 
    Marketing executive Paul Rivera, entrepreneur Maverick Carter, 
    and NBA superstar LeBron James. Lisa discusses motherhood as a professional athlete, 
    Draymond shares which games are the hardest to play, P.J. Tucker reflects on being the NBA's sneaker king, 
    and LeBron shares one of his biggest accomplishments as an athlete. Then, the crew breaks down the impact of Serena Williams on culture and more. 
    Kick up your feet and remember...in the barbershop you can't lie"></app-trending-card>
   
    <app-trending-card thumbnail = "/assets/thn3.webp" 
    time = "2:58" 
    title = "Yahritza Y Su Esencia & Ivan Cornejo - Inseparables (Official Video)" 
    cvd = "Yahritza Y Su Esencia · 732K views · 1 day ago" 
    description = "Official video for “Inseparables” by Yahritza Y Su Esencia & Ivan Cornejo</p>
    "></app-trending-card>
    <div class="border-top my-3 nav-item sectionDivider"></div>
</div>
<div class="backgroundColor" >
<p class = "section-title nav-item sectionHeading2 ">Trending Shorts</p>
</div>   

<div class = "nav-item backgroundColor">
<div class = "d-flex  flex-row  nav-item shorts" >
    
    <app-shorts-card thumbnail = "/assets/sth1.webp"
        logo = "/assets/shortslogo.png"
        title = "🤣 SHAQ WON'T GIVE HIS KIDS MONEY #shorts"
        channel = "IMPAULSIVE Clips"
        vd = "2.1M views · 1 day ago"></app-shorts-card>

    <app-shorts-card thumbnail = "/assets/sth2.webp"
        logo = "/assets/shortslogo.png"
        title = "He needs to STAND up for himself.😤"
        channel = "Slick Stevie"
        vd = "1M views · 1 day ago"></app-shorts-card>

    <app-shorts-card thumbnail = "/assets/sth3.webp"
        logo = "/assets/shortslogo.png"
        title = "Joey Diaz to Joe Rogan ''You have NO Respect''"
        channel = "Rogan Shorts"
        vd = "306K views · 1 day ago"></app-shorts-card>

    <app-shorts-card thumbnail = "/assets/sth4.webp"
        logo = "/assets/shortslogo.png"
        title = "Cops try to shut down 'Stranger Things' display"
        channel = "Catch Up"
        vd = "407K views · 1 day ago"></app-shorts-card>

    <app-shorts-card thumbnail = "/assets/sth5.webp"
        logo = "/assets/shortslogo.png"
        title = "Does Your License Have THIS???"
        channel = "Kamnoomy"
        vd = "369K views · 1 day ago"></app-shorts-card>

    <app-shorts-card thumbnail = "/assets/sth6.webp"
        logo = "/assets/shortslogo.png"
        title = "She be so over me😳 #fyp #tiktok # reels #shorts #50fine #momanddaughter"
        channel = "Imsodliteful TV"
        vd = "162K views · 1 day ago"></app-shorts-card>
    
        
</div>
</div>
<div class="border-top my-3 nav-item sectionDivider"></div>