<div class=" nav-item card" >
    <div ><img src={{img}} class="card-img-top nav-item thumbnail" alt="...">
      <p class="badge nav-item time" >{{time}}</p>
    </div>
    
    <div class="card-body">
      <img src={{profile}} class="card-img-top nav-item icon" alt="...">
      <p class="card-text nav-item title ">{{video_title}}​</p>
      <p class="card-text nav-item chanel_view_date">{{channel_name}}​</p>
      <p class="card-text nav-item chanel_view_date">{{views_date}}​</p>
    </div>
  </div>
