.card{
    width: 105%; 
    margin-left: 9%; 
    margin-top: 5%;
    margin-right: 0%;
    border-color: transparent;
    padding-right: 2%;
    background-color: transparent;
}
.thumbnail{
    border-radius: 0px;
    margin-bottom: 0%;
    position: relative;
}

.time{
    z-index: 1000;
    position: absolute;
    margin-top: 48%;
    margin-left: -14%;
    color: rgb(255,255,255);
    background-color: black;
    border-radius: 2px;
    margin-bottom: 0%;
}
.time:active{
    
}
.icon{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.title{
    font-size: 105%;
    color: black;
    font-weight: 500;
    margin-left: 20%;
    margin-top: -13%;
    margin-bottom: 0%;
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
}



.chanel_view_date{
    font-size: 75%;
    color: rgb(148,148,148);
    font-weight: 500;
    margin-left: 20%;
    margin-bottom: 0%;
}