<div class="card nav-item videoCardFormat" style="width: 18rem; margin-left: 20%; margin-top: 5%;">
    <img src="assets/ThumbnailEX.png" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text video title nav-item titleFormat">Murderer, One Punch Killer, Sniper & Gangster On How It Feels To Kill | Minutes With | @LADbible TV​</p>
      <p class="card-text channel name link">LADbible TV​</p>
      <p class="card-text views and date uploaded">2.1M views * 4 weeks ago​</p>
    </div>
  </div>