<div class="card nav-item videoCardFormat" style="width: 18rem; margin-left: 20%; margin-top: 5%;">
    <img src={{img}} class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text video time">{{time}}​</p>
      <p class="card-text video title nav-item titleFormat">{{video_title}}​</p>
      <p class="card-text channel name link">{{channel_name}}​</p>
      <p class="card-text views and date uploaded">{{views_date}}​</p>
    </div>
  </div>


  <!--
  <div class="card nav-item videoCardFormat" style="width: 18rem; margin-left: 20%; margin-top: 5%;">
    <img src={{img}} class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text video title nav-item titleFormat">{{video_title}}​</p>
      <p class="card-text channel name link">{{channel_name}}​</p>
      <p class="card-text views and date uploaded">{{views_date}}​</p>
    </div>
  </div>

  <div class="card nav-item videoCardFormat" style="width: 18rem; margin-left: 20%; margin-top: 5%;">
    <img src={{img}} class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text video title nav-item titleFormat">{{video_title}}​</p>
      <p class="card-text channel name link">{{channel_name}}​</p>
      <p class="card-text views and date uploaded">{{views_date}}​</p>
    </div>
  </div>

-->