.margins{
    margin-left: 15.4%;
    margin-top: 3%;
    margin-right: 5%;
}

.thumbnailpic{

}

.title{
    font-size: 10%;
    color: black;
    font-weight: 100;
}

.chanel_view_date{
    font-size: 5%;
    color: rgb(148,148,148);
}