<div class="card nav-item card" style="width: 18rem;">
    <img  src="/assets/thn1.webp" alt="Card image cap">
    <div class="card-body">
      <p class="card-title nav-item title">Official Launch Trailer | Call of Duty: Modern Warfare II</p>
      <p class="card-channel nav-item channelDescription">Call of Duty · 7.2M views · 2 days ago</p>
      <p class="card-text nav-item channelDescription"> You are the company you keep 💪
 
        Team up with TF141 a week early with Campaign Early Access. Available with #MWII digital pre-order here: https://bit.ly/MWIIPREORDER
        
        Follow #CallofDuty for the latest intel:
        Twitter: http://twitter.com/CallofDuty
        Instagram: http://instagram.com/callofduty
        Facebook: http://facebook.com/CallofDuty
        TikTok: http://www.tiktok.com/@callofduty
        
        #ModernWarfare2</p>
      
    </div>
  </div>

  <div class="card nav-item card" style="width: 18rem;">
    <img  src="/assets/thn2.webp" alt="Card image cap">
    <div class="card-body">
      <p class="card-title nav-item title">"If my mama played for the Clippers.." | The Shop: Season 5 Episode 7 | FULL EPISODE | Uninterrupted
    </p>
      <p class="card-channel nav-item channelDescription">UNINTERRUPTED · 209K views · 23 hours ago</p>
      <p class="card-text nav-item channelDescription"> It's a hoop lovers dream on this episode of The Shop, 
        filmed in front of a live audience at the LeBron James Innovation Center on the campus of Nike’s World Headquarters in Beaverton, 
        Oregon. 
        Sit back and join 3x WNBA MVP Lisa Leslie, 4x NBA Champion Draymond Green,
        NBA Sneaker King & NBA Champion P.J. Tucker, 
        Marketing executive Paul Rivera, entrepreneur Maverick Carter, 
        and NBA superstar LeBron James. Lisa discusses motherhood as a professional athlete, 
        Draymond shares which games are the hardest to play, P.J. Tucker reflects on being the NBA's sneaker king, 
        and LeBron shares one of his biggest accomplishments as an athlete. Then, the crew breaks down the impact of Serena Williams on culture and more. 
        Kick up your feet and remember...in the barbershop you can't lie</p>
      
    </div>
  </div>

  <div class="card nav-item card" style="width: 18rem;">
    <img  src="/assets/thn3.webp" alt="Card image cap">
    <div class="card-body">
      <p class="card-title nav-item title">Yahritza Y Su Esencia & Ivan Cornejo - Inseparables (Official Video)
    </p>
      <p class="card-channel nav-item channelDescription">Yahritza Y Su Esencia · 732K views · 1 day ago</p>
      <p class="card-text nav-item channelDescription"> Official video for “Inseparables” by Yahritza Y Su Esencia & Ivan Cornejo</p>
      
    </div>
  </div>

 
