.card{
    width: 47%;
    height: 20%;
    background-color: transparent;
    border-color: transparent;
    margin-left: 8%;
    border-radius: 0%;
}
.time2{
    margin-left: -7%;
    font-size: small;
    z-index: 1000;
    position: absolute;
    color: rgb(255,255,255);
    background-color: black;
    border-radius: 2px;
}
.title{
    margin-top: -2%;
    font-size: 105%;
    color: black;
    font-weight: 410;
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
}
.cvd{
    margin-top: -3.2%;
    font-size: 75%;
    color: rgb(148,148,148);
    font-weight: 410;
}
.description{
    margin-top: -3%;
    font-size: 75%;
    color: rgb(148,148,148);
    font-weight: 410;
    height: 3em;
    overflow: hidden;
    
}
.thumbnail{
    height: 100%;
    border-radius: 0%;
}