.headings{
    font-family: Roboto,Noto Naskh Arabic UI,Arial,sans-serif;
    font-weight: 700;
    color: Rgb(129,129,129);
    text-decoration: none;
    font-size: 125%;
}
.headings:active{
    color: Rgb(255,255,255);
}
.headings:hover{
    color: Rgb(255,255,255);
}
.headingFormat{
    margin-left: 32%;
    width:60%;
    justify-content: center;
    justify-content: space-evenly;
}
.music{
   margin-left: 20%;
}
.signIn{
    background-color: Rgb(255,255,255);
    margin-right: 3%;
    
    font-size: medium;
    font-weight: 600;
}
.signIn:hover{
    background-color: Rgb(255,255,255);
}
.signIn:active{
    background-color: Rgb(255,255,255);
}
.threeDots{
    
}
.signInDotsSpacing{
    width: 79%;
    justify-content: flex-end;
}
.backgroundColor{
    background-color: black;
}