
.buttonSpacing{
  margin-left: 10px;
}
.buttonFormat{
  display: inline-block;
  color: rgb(69, 69, 69);
  border-color: rgb(217, 217, 217);
  background-color: rgb(242,242,242);
  text-decoration: none;
  margin-left: 245;
  border-radius: 24px;
  height: 30px;
  font-size: 90%;
  margin-left: 10px;
}

.button:active{
  background-color: black;
  color: white;
  border-color: black;
}

.scrollBar {
  position: fixed;
  width: 1500px;
  overflow-x: auto;
  
  right: 0;
  left: 247px;
}