<div class="catagory-horizontal-scroller">
  
  <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat nav-item button:active" >All</button>
  <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat" >Live</button>
  <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Gaming</button>
  <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat" >Touchdowns</button>
  <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Baseball</button>
  <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat" >NBA</button>
  <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat" >Laughter</button>
  <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Comedy</button>
  <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat" >Home</button>
  <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Recently Uploaded</button>
  <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Sneaker Collecting</button>
  <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Gadgets</button>
  <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Monster Trucks</button>
  <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Conversation</button>
  <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Cars</button>
  <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Sports Video Games</button>
  <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Cooking Shows</button>
  <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Track and field</button>
  <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Role-Playing Games</button>
  <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat ">Action-Adventure Games</button>
  
  <!--
  <a class="badge badge-pill badge-primary nav-item buttonFormat2" >Primary</a>
  <a class="badge badge-pill ">Secondary</a>
  <a href="#" class="badge badge-pill badge-primary">Primary</a>
<a href="#" class="badge badge-secondary">Secondary</a>
<a href="#" class="badge badge-success">Success</a>
<a href="#" class="badge badge-danger">Danger</a>
<a href="#" class="badge badge-warning">Warning</a>
<a href="#" class="badge badge-info">Info</a>
<a href="#" class="badge badge-light">Light</a>
<a href="#" class="badge badge-dark">Dark</a>
-->
</div> 