<!--
<div class="catagory-horizontal-scroller nav-item catagoryScroller">
  
  <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat" >All</button>
  <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat" >Live</button>
  <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Gaming</button>
  <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat" >Touchdowns</button>
  <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Baseball</button>
  <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat" >NBA</button>
  <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat" >Laughter</button>
  <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Comedy</button>
  <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat" >Home</button>
  <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Recently Uploaded</button>
  <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Sneaker Collecting</button>
  <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Gadgets</button>
  <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Monster Trucks</button>
  <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Conversation</button>
  <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Cars</button>
  <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Sports Video Games</button>
  <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Cooking Shows</button>
  <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Track and field</button>
  <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Role-Playing Games</button>
  <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat ">Action-Adventure Games</button>
  
  
  <a class="badge badge-pill badge-primary nav-item buttonFormat2" >Primary</a>
  <a class="badge badge-pill ">Secondary</a>
  <a href="#" class="badge badge-pill badge-primary">Primary</a>
<a href="#" class="badge badge-secondary">Secondary</a>
<a href="#" class="badge badge-success">Success</a>
<a href="#" class="badge badge-danger">Danger</a>
<a href="#" class="badge badge-warning">Warning</a>
<a href="#" class="badge badge-info">Info</a>
<a href="#" class="badge badge-light">Light</a>
<a href="#" class="badge badge-dark">Dark</a>

</div> 

<div class = " nav-item categoryScroller2">

  <button type ="button"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left" viewBox="0 0 16 16">
    <path d="M10 12.796V3.204L4.519 8 10 12.796zm-.659.753-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753z"/>
  </svg></button>
  <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat" >All</button>
  <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat" >Live</button>
  <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Gaming</button>
  <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat" >Touchdowns</button>
  <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Baseball</button>
  <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat" >NBA</button>
  <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat" >Laughter</button>
  <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Comedy</button>
  <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat" >Home</button>
  <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Recently Uploaded</button>
  <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Sneaker Collecting</button>
  <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Gadgets</button>
  <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Monster Trucks</button>
  <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Conversation</button>
  <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Cars</button>
  <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Sports Video Games</button>
  <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Cooking Shows</button>
  <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Track and field</button>
  <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Role-Playing Games</button>
  <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat ">Action-Adventure Games</button>
  <button type ="button"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right" viewBox="0 0 16 16">
    <path d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"/>
  </svg></button>
</div>-->



<div id="carouselExampleControls" class="carousel slide nav-item carouselFormating position-absolute end-0 bg-dark" style = " width: 85%; margin-top: -15px;">
  <div class="border-top my-3"></div>
  <div class="carousel-inner nav-item carouselGroupsFormating">
    <div class="carousel-item active nav-item carouselGroupsFormating" >
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat" >All</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat" >Live</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Gaming</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat" >Touchdowns</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Baseball</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat" >NBA</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat" >Laughter</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Baseball</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat" >NBA</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat" >Laughter</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Baseball</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat" >NBA</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat" >Laughter</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Baseball</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat" >NBA</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat" >Laughter</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Baseball</button>
      
    </div>
    <div class="carousel-item">
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Comedy</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat" >Home</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Recently Uploaded</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Sneaker Collecting</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Gadgets</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Monster Trucks</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Conversation</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Cars</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Sneaker Collecting</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Gadgets</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Monster Trucks</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Conversati</button>
      
      
  
    </div>
    <div class="carousel-item">
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Sports Video Game</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Cooking Shows</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Track and field</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Role-Playing Games</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat ">Action-Adventure Games</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Track and field</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Role-Playing Games</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat ">Action-Adventure Games</button>
      
      
    </div>
  </div>
  <div class="border-top my-3"></div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>