
<div class = "">
<div id="carouselExampleControls" class="carousel slide nav-item carouselFormating position-absolute end-0 " style = " width: 85%; margin-top: -17px;" data-interval = "10">
  <div class="border-top my-3"></div>
  <div class="carousel-inner nav-item carouselGroupsFormating">
    <div class="carousel-item active nav-item carouselGroupsFormating" >

     

      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat" >All</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat" >Live</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Gaming</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat" >Touchdowns</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Baseball</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat" >NBA</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat" >Laughter</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Baseball</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat" >Auditions</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat" >Playlists</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Chill-out music</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat" >Highlight films</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat" >Game Shows</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Piano</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat" >Children's Music</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat" >Nature</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Food</button>
      

      <button class="carousel-control-next nav-item arrowFormat" style = "filter: invert(100%);" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="carousel-item">

      <button class="carousel-control-prev nav-item arrowFormat" style = "filter: invert(100%);" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>

      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Comedy</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat" >Home</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Recently Uploaded</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Sneaker Collecting</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Gadgets</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Monster Trucks</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Conversation</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Cars</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">United States Navy</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Bossa Nova</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Background music</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Slime</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Aircrafts</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Podcast</button>
      
     
  
    </div>
    <!--
    <div class="carousel-item">

      <button class="carousel-control-prev nav-item arrowFormat" style = "filter: invert(100%);" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>

      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Sports Video Game</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Cooking Shows</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Track and field</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Role-Playing Games</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat ">Action-Adventure Games</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Track and field</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat">Role-Playing Games</button>
      <button type="button" class="badge round-pill btn btn-outline nav-item buttonFormat ">Action-Adventure Games</button>
      
      <button class="carousel-control-next nav-item arrowFormat" style = "filter: invert(100%);" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>

    </div>-->
  </div>
  
  <div class="border-top my-3"></div>
 
</div>
</div>