<div class = " nav-item black">
<app-music-navbar></app-music-navbar>

<div class = " nav-item backgroundColor" >
    <p class="song-title nav-item radioText">START RADIO FROM A SONG</p>
    <p class="song-title nav-item quickText">Quick picks</p>
</div>

<div class ="d-flex  flex-column nav-item backgroundColor column1" style = "margin-top: -1%; margin-left: -3;">
<app-song-card cover_art ="/assets/sc1.jpg" title = "Tennesee Whiskey"  artist_album = "Chris Stapleton · Traveller"></app-song-card>
<app-song-card cover_art ="/assets/sc2.jpeg" title = "Titi Me Pregunto" artist_album = "Bad Bunny · Un Verano Sin Ti"></app-song-card>
<app-song-card cover_art ="/assets/sc3.jpeg" title = "Something in the Orange" artist_album = "Zach Bryan · Something in the Orange"></app-song-card>
</div>

<div class ="d-flex  flex-column nav-item backgroundColor column2">
<app-song-card cover_art ="/assets/sc4.jpg" title = "God's Plan" artist_album = "Drake · Scorpion"></app-song-card>
<app-song-card cover_art ="/assets/sc5.jpg" title = "'Till I Collapse(feat. Nate Dogg)" artist_album = "Eminem · The Eminem Show"></app-song-card>
<app-song-card cover_art ="/assets/sc6.png" title = "Ghost" artist_album = "Justin Bieber · Justice"></app-song-card>
</div>

<div class ="d-flex  flex-column nav-item backgroundColor column3">
<app-song-card cover_art ="/assets/sc6.jpeg" title = "Bad Habit" artist_album = "Steve Lacy · Gemini Rights"></app-song-card>
<app-song-card cover_art ="/assets/sc8.png" title = "Blinding Lights" artist_album = "The Weeknd · Blinding Lights"></app-song-card>
<app-song-card cover_art ="/assets/sc9.jpg" title = "Gangsta's Paradise (feat. L.V.)" artist_album = "Coolio · Gangsta's Paradise"></app-song-card>
</div>

<div>
<app-playlist-card></app-playlist-card>
</div>
</div>