<app-music-navbar></app-music-navbar>

<div>
<app-song-card cover_art ="" title = "J." artist_album = "Ivan Cornejo Dañado"></app-song-card>
<app-song-card cover_art ="" title = "Titi Me Pregunto" artist_album = ""></app-song-card>
<app-song-card cover_art ="" title = "" artist_album = ""></app-song-card>
<app-song-card cover_art ="" title = "" artist_album = ""></app-song-card>
<app-song-card cover_art ="" title = "" artist_album = ""></app-song-card>
<app-song-card cover_art ="" title = "" artist_album = ""></app-song-card>
<app-song-card cover_art ="" title = "" artist_album = ""></app-song-card>
<app-song-card cover_art ="" title = "" artist_album = ""></app-song-card>
<app-song-card cover_art ="" title = "" artist_album = ""></app-song-card>

</div>

<div>
<app-playlist-card></app-playlist-card>
</div>